.profile-box{
   margin-top: 20px;
   box-shadow: inset 0px 8px 5px rgba(255, 227, 236, 0.8);
   margin-left: 10px;
   margin-right: 10px;
   border-radius: 15px;
   
}

.image{
    padding-left:100px;
    padding-top: 25px;
}
img{
    height: 80px;
    width: 80px;
    border-radius: 50px;;
   
}

.name{
    margin-top:7px;
    padding-left:85px;
    font-weight: bold;
    font-size: 20px;
}

.bio{
    color:grey;
    margin-top: 10px;
    font-size: 12px;
    padding-left: 40px;
    margin-bottom: 25px;
}